.bg-image-refenitiv {
    background-image: url("/static/perpusfebunpad-img.jpeg"), linear-gradient(white, black);
    background-position: center;
    background-size: cover;
}

.bg-opac {
    opacity: 75%;
}

.bg-unpad-yellow {
    background-color: #f3ac05;
}

.hover\:bg-unpad-yellow:hover {
    background-color: #f3ac05;    
}

.bg-unpad-light {
    background-color: #faf8eb;
}

.hover\:bg-unpad-light:hover {
    background-color: #faf8eb;
}

.bg-unpad-dark {
    background-color: #221c16;
}

.text-unpad-light {
    color: #faf8eb;
}

.text-unpad-bit-light {
    color: #8d8d8b;
}

.text-unpad-dark {
    color: #221c16;
}

#marquee {
    overflow: hidden;
    position: relative;
}

#marquee #marquee-content {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(-100%);
    -webkit-transform:translateX(-100%);	
    transform:translateX(-100%);
    /* Apply animation to this element */	
    -moz-animation: marquee 15s linear infinite;
    -webkit-animation: marquee 15s linear infinite;
    animation: marquee 15s linear infinite;
}


@-moz-keyframes marquee {
    0%   { -moz-transform: translateX(-100%); }
    100% { -moz-transform: translateX(100%); }
}
@-webkit-keyframes marquee {
    0%   { -webkit-transform: translateX(-100%); }
    100% { -webkit-transform: translateX(100%); }
}
@keyframes marquee {
    0%   { 
        -moz-transform: translateX(-100%); /* Firefox bug fix */
        -webkit-transform: translateX(-100%); /* Firefox bug fix */
        transform: translateX(-100%); 		
    }
    100% { 
        -moz-transform: translateX(100%); /* Firefox bug fix */
        -webkit-transform: translateX(100%); /* Firefox bug fix */
        transform: translateX(100%); 
    }
}